.MainBlock{
    float: left;
    position: relative;
    border: 1px solid black;
    height: 300px;
    width: 400px;
    margin: 5px;
}
.NameBlock{
    position: absolute;
}

.row{
    margin:0 auto;
    max-width: 50%;
    height: 20% !important;
    border: 2px solid darkgray;
    background-color: grey;
  
}
.export{
  height: 100%;
  border: 1px solid black;
  width: 100%
}






